<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Fathername</th>
    <th>Afm</th>
    <th>Keyname</th>
    <th>Keypass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.surname %></td>
    <td><%= customer.fathername %></td>
    <td><%= customer.afm %></td>
    <td><%= customer.keyname %></td>
    <td><%= customer.keypass %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
