<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @customer.surname %>
</p>

<p>
  <b>Fathername:</b>
  <%= @customer.fathername %>
</p>

<p>
  <b>Afm:</b>
  <%= @customer.afm %>
</p>

<p>
  <b>Keyname:</b>
  <%= @customer.keyname %>
</p>

<p>
  <b>Keypass:</b>
  <%= @customer.keypass %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
